name: FFLResource Transpiles & Tests
on: [push, pull_request]
jobs:
  python:
    name: Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          architecture: 'x64'
      - run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade requests
      - name: Transpile
        run: |
          python ${{github.workspace}}/tests/futdownload.py
          fut -l py ${{github.workspace}}/src/FFLResource.fu ${{github.workspace}}/src/Readers.fu -o ${{github.workspace}}/tests/resource/FFLResource.py
      - name: Test
        run: python ${{github.workspace}}/tests/resource/test.py
      
